@{
    ViewData["Title"] = "Pagina principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la aplicación de gestión SaludVida</h1>
    <p>Para esta empresa es un gusto atenderlos</p>
    <a href="#"><img src="imgs/En-que-casos-se-debe-recurrir-a-la-medicina-general.webp"  width="800" height="400"></a>
</div>
