@{
    ViewData["Title"] = "Politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Este sitio asegura que manejará los datos de los usuarios con absoluta confidencialidad y nunca se expondrán de manera voluntaria, por parte de nuestros colbaoradores, ni ninguna persona que represente este sistema.</p>
