@model SaludVidaAnaliticsRotman.Models.Cita

@{
    ViewData["Title"] = "Seleccione un médico";
}


<h4>Médico a consultar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IndexCitasPorMedico">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="IdMedico" class="control-label">Seleccione el médico a consultar</label>
                <select asp-for="IdMedico" class="form-control" asp-items="ViewBag.IdMedico"></select>
                <span asp-validation-for="IdMedico" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Consultar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
