@model SaludVidaAnaliticsRotman.Models.Cita

@{
    ViewData["Title"] = "Seleccione un paciente";
}


<h4>Paciente a consultar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IndexCitasPorPaciente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label">Seleccione el paciente a consultar</label>
                <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Consultar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
