<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
@model IEnumerable<SaludVidaAnaliticsRotman.Models.Cita>

@{
    ViewData["Title"] = "Reporte de citas atendidas";
    int idMedicoActual = 0;
    string MedicoActual = "";
    int cantidadCitasMedico = 0;
    int cantidadTotalCitas = 0;
    float PorcentajeMedico = 0;

}

<h1>Reporte de citas atendidas porcentaje por médico</h1>

@foreach (var item in Model) {
    cantidadTotalCitas = cantidadTotalCitas + 1;
}

<table class="table table-primary">
    <thead>
        <tr>
            <th>
                Cantidad de Citas del médico
            </th>
            <th>
               TotalCitas
            </th>
            <th>
                Porcentaje
            </th>
            <th>
                Nombre Médico
            </th>
            <th>
               Id Médico
            </th>
         
        </tr>
    
    </thead>
    <tbody>
@foreach (var item in Model) {
            if (idMedicoActual == 0)
            {
                idMedicoActual = item.IdMedico;
                MedicoActual = item.IdMedicoNavigation.NombreCompleto;
                cantidadCitasMedico = 1;
            }
            else {
                if (idMedicoActual == item.IdMedico)
                {
                    cantidadCitasMedico = cantidadCitasMedico + 1;
                }
                else{
                    PorcentajeMedico = (float)((float)(cantidadCitasMedico * 100) / (float)cantidadTotalCitas);
                    <tr>
                        <td class="cantidadCitasMedico">
                            @cantidadCitasMedico
                        </td>
                        <td class="cantidadTotalCitas">
                            @cantidadTotalCitas
                        </td>
                        <td class="PorcentajeMedico">
                            @PorcentajeMedico
                        </td>
                        <td class="Medico">
                            @MedicoActual
                        </td>
                        <td class="idMedico">
                            @idMedicoActual
                        </td>

                    </tr>

                    idMedicoActual = item.IdMedico;
                    MedicoActual = item.IdMedicoNavigation.NombreCompleto;
                    cantidadCitasMedico = 1;
                }
            }

       
}

@{
            PorcentajeMedico = (float)((float)(cantidadCitasMedico * 100) / (float)cantidadTotalCitas);
}
        <tr>
            <td class="cantidadCitasMedico">
                @cantidadCitasMedico
            </td>
            <td class="cantidadTotalCitas">
                @cantidadTotalCitas
            </td>
            <td class="PorcentajeMedico">
                
                @PorcentajeMedico
            </td>
            <td class="Medico">
                @MedicoActual
            </td>
            <td class="idMedico">
                @idMedicoActual
            </td>

        </tr>

    </tbody>
</table>


<button class="export btn btn-primary" id="export">Exportar</button>


<script>

    const guardarArchivoDeTexto = (contenido, nombre) => {
        const a = document.createElement("a");
        const archivo = new Blob([contenido], { type: 'json/plain' });
        const url = URL.createObjectURL(archivo);
        a.href = url;
        a.download = nombre;
        a.click();
        URL.revokeObjectURL(url);
    }



    $(document).ready(function () {
        $('.export').click(function () {
            jsonObj = [];
            $("table tbody tr").each(function () {
                var elitem = "{\"cantidadCitasMedico\": \"" + $('.cantidadCitasMedico', this).html().trim() +
                    "\", \"cantidadTotalCitas\": \"" + $('.cantidadTotalCitas', this).html().trim() +
                    "\", \"PorcentajeMedico\": \"" + $('.PorcentajeMedico', this).html().trim() +
                    "\", \"Medico\": \"" + $('.Medico', this).html().trim() +
                    "\", \"idMedico\": \"" + $('.idMedico', this).html().trim() + "\"}";
                jsonObj.push(JSON.parse(elitem));
            });
            console.log(jsonObj);
            guardarArchivoDeTexto(JSON.stringify(jsonObj), "Reporte de porcentaje de atención médicos.json");

        });
    });
</script>  