@model IEnumerable<SaludVidaAnaliticsRotman.Models.ReporteIngreso>

@{
    ViewData["Title"] = "Reporte de ingresos";
}

<h1>Reporte de ingresos</h1>


<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalIngresos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitasTotales)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIngresos)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CitasTotales)
                </td>
           
        </tr>
}
    </tbody>
</table>
