@model SaludVidaAnaliticsRotman.Models.RelacionConsultorioEquiposMedico

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar asignación de equipo</h1>

<h3>¿Seguro que desea eliminar la relación?</h3>
<div>
    <h4>Relacion entre consultorio y equipo médico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEquipoMedicoNavigation.NombreEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEquipoMedicoNavigation.NombreEquipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRelacion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
