@model SaludVidaAnaliticsRotman.Models.RelacionConsultorioEquiposMedico

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles en la asignación de equipos médicos a consultorios</h1>

<div>
    <h4>Relación entre consultorios y equipos médicos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEquipoMedicoNavigation.NombreEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEquipoMedicoNavigation.NombreEquipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.IdRelacion">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
