@model SaludVidaAnaliticsRotman.Models.Consultorio

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Consultorio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroConsultorio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.IdConsultorio">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
